<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for Android Auto -->
    <uses-permission android:name="androidx.car.app.CarAppService" />
    <uses-permission android:name="androidx.car.app.ACCESS_SURFACE" />
    <uses-permission android:name="androidx.car.app.NAVIGATION_TEMPLATES" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoWallpaper"
        tools:targetApi="33">

        <activity
            android:name=".ManageWallpaperActivity"
            android:exported="true"
            android:theme="@style/ManageWallpaperActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CropImageActivity"
            android:label="Crop Image"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> 
            <!-- Or any other appropriate theme -->

        <!-- Main entry point for the Android Auto app -->
        <service
            android:name=".MyCarAppService"
            android:exported="true"
            android:foregroundServiceType="connectedDevice">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
<!--                <category android:name="androidx.car.app.category.IOT" />-->
                <category android:name="androidx.car.app.category.NAVIGATION" />
            </intent-filter>
        </service>

        <!--
         Required metadata for the Android Auto app.
         Specifies the minimum Car API level supported.
        -->
        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="1" />

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

    </application>

</manifest>
